<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.pratapgurung.testnavigation">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".RequestStatusCustomer"></activity>
        <activity
                android:name=".MainActivity_Agent"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".loginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".SignUp"
                android:parentActivityName=".loginActivity">
            <meta-data
                    android:name="android.support.loginActivity"
                    android:value="com.example.pratapgurung.testnavigation.loginActivity" />
        </activity>
        <activity
                android:name=".MainActivity_Customer"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar" />
        <activity
                android:name=".profile"
                android:label="Profile"
                android:parentActivityName=".MainActivity_Customer">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.pratapgurung.testnavigation.MainActivity_Customer" />
        </activity>
        <activity
                android:name=".firstName"
                android:label="First Name"
                android:parentActivityName=".profile">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.pratapgurung.testnavigation.profile" />
        </activity>
        <activity
                android:name=".secondName"
                android:label="Second Name"
                android:parentActivityName=".profile">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.pratapgurung.testnavigation.profile" />
        </activity>
        <activity
                android:name=".password"
                android:label="Password"
                android:parentActivityName=".profile">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.pratapgurung.testnavigation.profile" />
        </activity>
        <activity
                android:name=".phoneNumber"
                android:label="Phone Number"
                android:parentActivityName=".profile">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.pratapgurung.testnavigation.profile" />
        </activity>
        <activity
                android:name=".email"
                android:label="Email"
                android:parentActivityName=".profile">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.pratapgurung.testnavigation.profile" />
        </activity>
        <activity
                android:name=".PastActivity"
                android:label="Past Activity"
                android:parentActivityName=".MainActivity_Customer">
            <meta-data
                    android:name="android.support.MainActivity"
                    android:value="com.example.pratapgurung.testnavigation.MainActivity" />
        </activity>
        <activity
                android:name=".CheckAgents"
                android:label="Check Agents"
                android:parentActivityName=".MainActivity_Customer">
            <meta-data
                    android:name="android.support.MainActivity"
                    android:value="com.example.pratapgurung.testnavigation.MainActivity" />
        </activity>
        <activity
                android:name=".RequestStatusAgent"
                android:label="Request Status"
                android:parentActivityName=".MainActivity_Customer">
            <meta-data
                    android:name="android.support.MainActivity"
                    android:value="com.example.pratapgurung.testnavigation.MainActivity" />
        </activity>
        <activity
                android:name=".Help"
                android:label="Help"
                android:parentActivityName=".MainActivity_Customer">
            <meta-data
                    android:name="android.support.MainActivity"
                    android:value="com.example.pratapgurung.testnavigation.MainActivity" />
        </activity>
        <activity
                android:name=".sucessActivity"
                android:label="Sucess"
                android:parentActivityName=".MainActivity_Customer">
            <meta-data
                    android:name="android.support.MainActivity"
                    android:value="com.example.pratapgurung.testnavigation.MainActivity" />
        </activity>
        <activity
                android:name=".detail_service_request_agent"
                android:label="Service Request"
                android:parentActivityName=".RequestStatusAgent">
            <meta-data
                    android:name="android.support.RequestStatus"
                    android:value="com.example.pratapgurung.testnavigation.RequestStatus" />
        </activity>
        <activity
                android:name=".detail_service_request_customer"
                android:label="Past Request"
                android:parentActivityName=".RequestStatusAgent">
            <meta-data
                    android:name="android.support.RequestStatus"
                    android:value="com.example.pratapgurung.testnavigation.RequestStatus" />
        </activity>
        <activity
                android:name=".earnings"
                android:label="Earnings"
                android:parentActivityName=".MainActivity_Agent">
            <meta-data
                    android:name="android.support.MainActivity_Agent"
                    android:value="com.example.pratapgurung.testnavigation.MainActivity_Agent" />
        </activity>
        <activity
                android:name=".Earning_Details"
                android:label="Earning Details"
                android:parentActivityName=".earnings">
            <meta-data
                    android:name="android.support.earnings"
                    android:value="com.example.pratapgurung.testnavigation.earnings" />
        </activity>
    </application>

</manifest>